  <div class="container">

      <h1>US Immigration made easy </h1>
      <ul>
        <h2>Most popular applications</h2>
        <li><%= link_to "Concurrent Application", concurrent_url%></li>
        <li>Naturalization</li>
        <li>Employment Card</li>
        <li>Replacement Green Card</li>
        <li>Petition for Alien Fiance</li>
        <li>Application to Extend/Change NonImmigrant Status</li>
        <li>Petitions to Remove the Conditions of Residence</li>
      </ul>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
